//$color-primary: #FF5722;
//$color-primary-dark: #D84315;
//$color-accent: #F57F17;
//$color-primary-contrast: #FFF59D;
//$color-accent-contrast: #80DEEA;

@import "../bower_components/material-design-lite/src/material-design-lite";

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

a img{
  border: 0px;
}

::-moz-selection {
  background-color: #fff7a8;
  color: #444;
}

::selection {
  background-color: #fff7a8;
  color: #444;
}

.landing {
  background: url('../images/459033.jpg') center / cover;

  .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
    padding-right: 0;
  }

  .mdl-layout__header,
  .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if your background is light. */
    color: white;
  }

  .my-card {
    width: 98%;
    height: auto;
    margin: 1rem auto;

    &> .mdl-card__menu {
      color: #fff;
    }
  }
}

.avatar{
  width: 48px;
  height: 48px;
  border-radius: 24px;
  float: left;
  margin: 0 2rem 2rem 0;
}

.composed-by {
  font-style: italic;
  color: #888;
}

#icon-forum__new {
  z-index: 3;
  position: fixed;
  bottom: 3rem;
  right: 4rem;
}

@media screen and (max-width: 1024px) {
  // Todo temporary work-around mdl bug
  .landing .my-card:first-of-type {
    margin-top: calc(128px + 1rem);
  }
}


